# Logs
中间目录
dist
build
venv
GloryProject.pdb
libqpry_lua.so
*db
*.o
*.class
*.lo
*.la
*.al
.libs
*.obj
*.pyc
*.pyo 
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
release
Run
Release_Unicode
Debug_Unicode
Release
Debug
*.htm
*.obj
*.tlh
*.tli
*.idb
*.suo
*.pdb
*.res
*.sdf
*.opensdf
*.ncb
Log
Debug.win32
bin
ipch